footer.footer
    .container
        .row
            .footer__inner
                .footer__logo
                    a
                        img(src='images/logo-f.png')
                    p Copyright 2018. ALL RIGHT RESERVED
                ul.footer__list
                    li
                        a(href='#') Главная
                    li
                        a(href='#')  О компании

                    li
                        a(href='#')  Товары

                    li
                        a(href='#')  Акции

                    li
                        a(href='#')  Контакты
                ul.footer__list
                    li
                        a(href='#').title Летняя спецодежда
                    li
                        a(href='#')  Костюмы рабочие

                    li
                        a(href='#')  Брюки рабочие

                    li
                        a(href='#')  Полукомбинезоны рабочие
                ul.footer__list
                    li
                        a(href='#').title Летняя спецодежда
                    li
                        a(href='#')  Костюмы рабочие

                    li
                        a(href='#')  Брюки рабочие

                    li
                        a(href='#')  Полукомбинезоны рабочие
                ul.footer__list
                    li
                        a(href='#').tel Контакты:
                    li
                        a(href='tel:022105510').tel  022-10-55-10

                    li
                        a(href='tel:069403065').tel  069-40-30-65

                    li
                        a(href='tel:069403065').tel  078-24-60-46

