header.header
    .header__top
        .container
            .row
                .header__top__inner
                    ul.header__top__tel
                      li
                        a(href='tel:022105510') 022-10-55-10
                      li
                        a(href='tel:069403065') 069-40-30-65
                      li
                        a(href='tel:078246046') 078-24-60-46
                    ul.header__top__lang
                        li
                          a(href='#')
                            img(src="images/moldova.png")
                        li
                          a(href='#')
                            img(src='images/russia.png')
                    .mob-menu-but
                        span
                        span
                        span

    .header__bottom
        .container
            .row
                .header__bottom__inner
                    .header__bottom__logo
                        a(href='#')
                            img(src="images/logo.png")
                    .header__bottom__menu
                        ul.header__bottom__menu__d
                            li
                                a(href='#')  Главная
                            li
                                a(href='#') о компании
                            li
                                a(href='#') Товары
                                ul.two-lvl
                                    li
                                        a(href='#') Спецодежда
                                    li
                                        a(href='#') Защитная обувь
                                    li
                                        a(href='#') Индивидуальная защита
                            li
                                a(href='#') акции
                            li
                                a(href='#') Контакты
                    a(href='#').header__bottom__basket
                        .header__bottom__basket__info
                            .header__bottom__basket__price 150 000
                                span lei
                            .header__bottom__basket__kol 3 товара
                        .header__bottom__basket__cart