extends layouts/default
block content
    section.news
        .container-full
            .container-full__row
                ul.breadcrumbs
                    li
                        a(href='#') Главная
                    li
                        a(href='#') О компании
                    li
                        p Новости
                h1 Новости
                .news__list
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                    a(href='news-detail.html').news__block
                        .news__block__img
                            img(src="images/news-img.jpg")
                        .news__block__date 22.02.2018
                        .news__block__title Название новости
                        .news__block__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra lobortis congue. Nulla et tellus finibus, consequat sapien et, luctus nunc. Proin id nibh quis ante finibus tempor vel eu nunc. Curabitur at lacus ut eros interdum sollicitudin. Vivamus cursus at lacus in feugiat. Nam facilisis bibendum mauris, ac pulvinar ex sagittis sed. Quisque maximus sit amet libero ut pulvinar. Vivamus id consectetur tortor. Nullam eget nulla non lectus gravida cursus sit amet at odio. Fusce at porttitor nibh, eu efficitur magna. Vivamus consequat orci quis varius semper. Nunc semper nulla erat, nec imperdiet ligula fermentum at. Cras accumsan id lacus a maximus. Quisque vitae volutpat dui. Pellentesque eu congue lacus, ac suscipit nisi.
                .news__more
                    .butt.butt__arrow
                        a(href='#') Загрузить еще